# Local (código de pruebas local)
/src/character/
/src/appCharacter.ts

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Módulos de node y compilaciones
node_modules
dist
dist-ssr
*.local

# Archivos de entorno
.env
.env.*

# Lockfiles de otros gestores de paquetes
package-lock.json
yarn.lock

# Archivos de editores
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db